<div calss="new-comment" style="background-color:gray">
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.submit "enviar" %>
  <% end %>
</div>
