
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
	<div class="row omb_row-sm-offset-3 omb_socialButtons">
		<%- resource_class.omniauth_providers.each do |provider| %>
	    <div class="col-xs-3 col-sm-3">
	    	<%= link_to(omniauth_authorize_path(resource_name, provider), class: "btn btn-lg btn-block omb_btn-#{provider.to_s}") do %>
				<i class="fa fa-#{provider.to_s} visible-xs"></i>
             	<span class="hidden-xs"><%= provider.to_s.titleize %></span>
	    	<% end -%>
        </div>
		<% end %>
	</div>
<% end -%>



