 <div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="container" style="padding:10px 30px">
      <h3>Connect with your Tribes!</h3>
      <h4>As native speaker:</h4>


      <% if @native_languages_user.any? %>

      <ul class="list-unstyled">
       <% @native_languages_user.each do |language| %>
       <li>
         <h4 class="glyphicon glyphicon-globe"style="padding: 5px 1px 0px 10px; color:#df691a">
          <%= language.name %> </h4>
        </li>
        <% end %>

      </ul>
      <% else %>
      <p>You haven't select any native language.</p>
      <% end %>


      <h4>As a second language:</h4>


      <% if @second_languages_user.any? %>

      <ul class="list-unstyled">

        <% @second_languages_user.each do |language| %>
        <li>
          <h4 class="glyphicon glyphicon-globe"style="padding: 5px 1px 0px 10px; color:#df691a">
            <%= language.name %> </h4>
          </li>
          <% end %>

        </ul>
        <% else %>
        <p>You haven't select any second language.</p>
        <% end %>
        <div>
              <%= link_to 'Edit your Tribes', language_users_index_path, class: 'btn btn-primary btn-sm', style: "font-weight:bold" %>
              </div>
      </div>
    </div>
  </div>